/* body */
*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url("img-histoire/Background-body.png");
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#container{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

/* Style header */
/* menu */
nav{
    margin: 1% 0%;
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: rgb(119, 7, 7);
}
ul{
    width: 100%;
    display: flex;
}

#logo-header{
    width: 10%;
    height: 100%;
    text-align: center;
}
/* logo général */
.logo{
    width: 60px;
    height: 60px;
}

/*nom a droite du Logo*/
#accueil{
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.3em;
}
#accueil:hover{
   text-decoration: underline 2.5px rgb(255, 255, 255); 
}

/* Menu haut droite */
#menu{
    max-width: 60%;
    justify-content: space-around;
    margin-left:20% ;
}

/* retrait du soulignement et de la coloration de base */
.link{
    font-size: 1.2em;
}
li{
    list-style-type: none;
}
a{
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: underline 2.5px rgb(255, 255, 255); 
}

/* style du footer */
#bottom{
    margin: 5% 0 1% 0;
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(100, 5, 5);
}
#logo-footer{
    width: 20%;
    height: 50px;
    margin-left: 4%;
    margin-bottom: 10px;
}

/* text copyright */
#copyright{
    width: 60%;
    text-align:center;
    color:aliceblue;
    font-size: 1.2em;
}

/* taille des icones du footer */
.icon{
        width: 40px;
        height: 40px;
}
#right-footer{
    margin-top: 6px;
    width: 20%;
    text-align: center;
}

/*Scroll button*/
 #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    background-color: grey;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
#myBtn:hover {
    background-color: rgb(110, 110, 110);
}
.fas {
    margin: auto;
    font-size: 150%;
}

/* Titres */
.titre {
    display: grid;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
}
h1 {
    color: aliceblue;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
}
h2 {
    color: aliceblue;
    margin: 1.5rem;
    text-align: center;
}

/*Cartes*/
.firstCard {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 5;
    box-shadow: rgb(255, 255, 255) 0px 0px 20px -5px;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 2rem;
    border-radius: 10px;
} 
.secondCard {
    display: grid;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 10;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.5rem;
    box-shadow: rgb(255, 255, 255) 0px 0px 20px -5px;
    border-radius: 10px;
}
.thirdCard {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 10;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    line-height: 1.5rem;
    box-shadow: rgb(255, 255, 255) 0px 0px 20px -5px;
    border-radius: 10px;
}

/* Textes et images*/
#iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
p {
    color: aliceblue;
}
.p1{
    width: 100%;
}
.p1 p {
    margin: auto;
    width: 80%;
}
.p2 {
    overflow: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.p2 p {
    margin: auto;
    width: 80%;
}
.p3{
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.p3 p {
    margin: auto;
    width: 80%;
}

.image1{
    display: flex;
    flex-direction: column;
    border-radius:10px 10px 0 0;
    height: 50%;
}
.image2{
    display: flex;
    flex-direction: column-reverse;
    border-radius: 0 0 10px 10px;
    height: 50%;
}
/*Style liens*/
#stop{
    text-shadow:0 0 3px #FE0000, 0 0 10px #FE0000, 0 0 20px #FE0000;color:#FE0000;
}
#lien{
    text-shadow:0 0 2px #FFD100,0 0 30px #FFD100,0px 0px 5px #FFD100, 0 0 150px #FFD100;color:#FFD100;
}


/* ------------------------------------------------------------version mobile------------------------------------------------------ */

@media screen and (max-width:768px){
/* Style header */
/* menu */
nav{
    margin: 1% 0%;
    width: 100%;
    height: 3vh;
    display: flex;
    align-items: center;
    background-color: rgb(119, 7, 7);
}

/* logo head */
#logo-header{
    width: 10%;
    height: 100%;
    text-align: center;
}
.logo{
    width: 25px;
    height: 25px;
}

/*nom a droite du Logo*/
#accueil{
    display: none;
}

/* Menu haut droite */
#menu{
    max-width: 100%;
    justify-content: space-around;
    margin:auto;
}

/* retrait du soulignement et de la coloration de base */
.link{
    font-size: 1em;
}
li{
    list-style-type: none;
}
a{
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: underline 2px rgb(255, 255, 255);
}



/* style du footer */
#bottom{
    margin: 3% 0 1% 0;
    height: 25px;
    width: 100%;
    align-items: center;
    display: flex;
    background-color: rgb(119, 7, 7);
}
#logo-footer{
    width: 20%;
    height: 25px;
    margin-bottom: 0;
    text-align: center;
}
/* text copyright */
#copyright{
    width: 60%;
    text-align:center;
    color:aliceblue;
    font-size: 0.6em;
}
/* taille des icones du footer */
.icon{
    width: 15px;
    height: 15px;
}
#right-footer{
    margin-top: 4px;
    width: 20%;
}

/*Scroll button*/
    #myBtn {
      display: none;
      position: fixed;
      bottom: 30px;
      right: 0;
      background-color: grey;
      color: white;
      width: 25px;
      height: 25px;
      border-radius: 10px;
    }

/* Body */
#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(13, 1fr);
}

#iframe{
    max-width: 100%;
    max-height: 100%;
}
 
.firstCard {
    display: flex;
    flex-direction: column;
    display: grid;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: rgba(0, 0, 0, 0.486);
    box-shadow: rgb(255, 255, 255) 0px 0px 20px -5px;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 10px;
} 

.secondCard {
    display: grid;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 6;
    grid-row-end: 9;
    background-color: rgba(0, 0, 0, 0.486);
    box-shadow: rgb(255, 255, 255) 0px 0px 20px -5px;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 10px;
}

.thirdCard {
    display: grid;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 10;
    grid-row-end: 13;
    background-color: rgba(0, 0, 0, 0.486);
    box-shadow: rgb(255, 255, 255) 0px 0px 20px -5px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 10px;
}
/* Images et text */
.titre{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color: aliceblue;
    text-align: center;
}
h2 {
    margin: .5rem;
}

#iframe {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
}
p {
    color: aliceblue;
}
.p1{
    margin: auto;
}
.p1 p {
    margin-top: 15px;
    width: 90%;
}
.p2 {
    overflow: auto;
    margin-top: 15px;
}
.p2 p {
    margin: auto;
    width: 90%;
}
.p3{
    overflow: auto;
    height: 100%;
    margin-top: 15px;
}
.p3 p {
    margin: auto;
    width: 90%;
}

.image1{
    display: flex;
    flex-direction: column;
    border-radius:10px 10px 0 0;
    height: 100%;
    width: 100%;
}
.image2{
    display: flex;
    flex-direction: column-reverse;
    border-radius: 0 0 10px 10px;
    height: 100%;
    width: 100%;
}
}


